.header__links-container {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 18px;
}

@media screen and (max-width:767px) {
    .header__links-container {
        padding-top: 14px;
    }
}