.footer__links-container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .footer__links-container {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 48px;
    }
}